.button-div {
    button {
        padding: 5px 18px;

        border: none;
        border-radius: 3px;

        color: white;
        background-color: #E4AF39;

        &:hover {
            background-color: rgb(205, 148, 27)
        }
    }
}