.profile-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;

    h4 { font-weight: 600; }
}

@media (max-width: 1100px) {
    .profile-content-header {
        flex-direction: column;
    }
}