.profile-main-header {
    border: solid 1px #E4AF39;
    border-radius: 5px;
    margin-bottom: 10px;

    justify-content: start;
    padding: 10px;

    .content{
        margin: 30px 20px;
        margin-top: 15px;
    }
    h4{
        padding-bottom: 5px;
    }

}