.profile-container {
    .sale {
        font-weight: 400;
        width: fit-content;
        padding: 0px 25px;
        background-color: #E4AF39;
        color: #E5E5E5;
        border-radius: 50px;
    }
}