.info {
  padding: 25px 25px;

  .form {
    font-size: 20px;
    display: flex;
    label {
      display: block;
    }

    .formWritable {
      display: inline;
      width: 60%;

      .submit {
        background-color: #e4af39;
        color: white;
        border: none;
        font-size: 15px;
        padding: 10px 10px;
        border-radius: 6px;
        cursor: pointer;
      }

      .submit:hover {
        background-color: #f5a300;
        transition: 0.2ms;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }

      .nameInput {
        width: 70%;
      }

      select {
        padding: 0px 15px;
        width: 60%;
        background-color: white;
      }

      input,
      select {
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 40px;
        border: 1px solid rgba(51, 51, 51, 0.2);
        outline: none;
      }

      .phoneAndGender {
        display: flex;

        input {
          margin-right: 25px;
          border: 1px solid rgba(51, 51, 51, 0.2);
          outline: none;
          width: 80%;
        }
        span {
          width: 60%;
        }
      }
    }

    .formReadOnly {
      width: 40%;

      input {
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 40px;
        border: 1px solid rgba(51, 51, 51, 0.2);
        outline: none;
      }
    }
  }
}

@media (max-width: 1120px) {
  .toHome {
    width: 100%;
  }

  .footer__container {
    min-width: 0px;
    max-width: 375px;
    margin: 0px 0px;
  }

  .info {
    .form {
      align-items: center;
      display: flex;
      flex-direction: column;

      .formReadOnly {
        margin-top: 20px;
      }

      .formWritable,
      .formReadOnly {
        width: 100%;
        .nameInput {
          width: 100%;
        }
        .phoneAndGender {
          input {
            width: 100%;
          }
          select {
            width: 100%;
            margin-left: 10px;
          }
        }
      }
      input {
        width: 100%;
      }
    }
  }
}
