.cardContainer{
  width: 100%;
  background-color: #E3E3E3;
  border-bottom: 2px solid #0F0F0F;
  padding: 5px 25px;
}

.productTable{
  background-color: #4E4E4E;
  color: white;
}

.productTable:first-child{
  .produtosEl{
    width: 55%;
    text-align: start;
    padding-left: 40px;
  }
}