.container-nav-finances {
  width: 100%;
}
.container-full{
  flex-direction: column;
}
.nav-finances {
  display: flex;
  width: 95%;
  margin: auto;
  padding: 15px;
}
.label-nav-finance:hover + .finance-tittle {
  background-color: black;
}
.nav-finances-title {
  display: flex;
  width: 75%;
  height: 100%;
  border-right: 3px solid white;
}
.finance-tittle {
  width: 56%;

  h2 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #111;
  }
}
.search-products-finances {
  display: flex;
  background-color: white;
  color: black;
  border: none;
  padding: 5px;
  width: 28%;
  border-radius: 6px;
  outline: none;
  justify-content: center;
  align-items: center;
}

.search-products-finances:focus {
  transition: ease 0.5s;
  border: red;
}

.button-search {
  border: 0;
  outline: 0;
  background-color: transparent;
}
.icon-search {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-left: 10px;
  transition: ease 0.5s;
  cursor: pointer;
}
.icon-bell {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-left: 15px;
}
.nav-finance-user {
  width: 25%;
  display: flex;
  justify-content: center;
  h2 {
    text-align: center;
  }
  span {
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
  }
}
@media (max-width: 1120px) {
  .nav-finances {
    width: 100%;
    margin-bottom: 10px;
  }
  .finance-tittle {
    margin-left: 30px;
    font-size: 15px;
    z-index: 2;
  }
  .icon-bell {
    margin-left: 10px;
  }
  .icon-search {
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-left: 10px;
  }
  .search-products-finances {
    margin-left: 0px;
    flex-direction: column;
  }
}
