.produtos-dashboard-container {
  background-color: #f3f3f3;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    .button-add {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      color: #f3f3f3;
      font-size: 60px;
      cursor: pointer;
      background-color: #e2ac38;
      position: fixed;
      bottom: 15px;
      right: 15px;
      transition: 0.3s all ease-in-out;
    }

    .button-add:hover {
      background-color: #b47f0c;
    }

    .modalAddProducts,
    .modalEditProducts {
      display: none;
    }

    .open {
      margin: 3% 0;
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 60%;
      min-width: 350px;
      height: 90%;
      background-color: #f3f3f3;
      opacity: 1;
      border: 0.5px solid black;
      border-radius: 5px;
      box-shadow: 4px 4px 12px black;

      .header-modal {
        margin: 0% 30%;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        width: 70%;
        height: 35px;
        margin-bottom: 15px;

        h1 {
          font-weight: 400;
        }

        button {
          cursor: pointer;
          width: 50px;
          height: 50px;
          font-size: 32px;
          color: #e2ac38;
          font-weight: 1000;
          background: none;
          transition: 0.3s all ease-out;
          border: none;
        }

        button:hover {
          color: #b47f0c;
        }
      }

      .body-modal {

        display: flex;
        height: 100%;

        .main-modal {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 80%;
          margin-left: 5%;
          margin-top: 6%;
          width: 50%;

          input {
            height: 40px;
            width: 450px;
            max-width: 60%;
            border-radius: 5px;
            padding-left: 6px;
            font-size: 20px;
            border: 0.5px solid black;
          }

          .inputPhoto {
            height: 70px;
            min-height: 35px;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            width: 60%;
            margin-left: 5%;

            input {
              height: 40px;
              width: 450px;
              max-width: 80%;
              border-radius: 5px;
              padding-left: 6px;
              font-size: 20px;
              border: 0.5px solid black;
            }

            .inputPhoto {
              height: 35px;
              min-height: 35px;
              font-weight: 600;
              border: none;
              border-radius: 5px;
            }
          }

        }

        .productVisualization {
 
          display: block;
          width: 42%;
          p {
            text-align: center;
          }

          text-align: center;

          .productAndInfo {
            background-color: #c4c2c23d;
            margin-bottom: 20px;
            text-align: center;
            img{
              width: 80%;
            }

            .productInfo {
              text-align: start;
              padding-left: 5px;
              background-color: #b6b1b1;
              border-radius: 5px;
            }
          }

          .areaBtn {
            margin-top: 10%;
            padding-right: 10%;
            display: flex;
            width: 100%;
            justify-content: space-between;

            .btn {
              padding: 5px 10px;
              cursor: pointer;
              border-radius: 5px;
              font-weight: 700;
            }

            p {
              text-align: center;
            }


          }
        }

        .areaBtn {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          text-align: center;

          .btn {
            padding: 5px 15px;
            cursor: pointer;
            border-radius: 5px;
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 20px;
            width: 65%;
          }

          .btnCadastrarProduto {
            background-color: #e2ac38;
            color: #f3f3f3;
          }

          .btnCancelarCadastrarProduto {
            color: #e2ac38;
            background-color: #f3f3f3;
            border: 0.5px solid #e2ac38;
          }
        }
      }
    }
  }
}

@media (max-width: 1020px) {
  .produtos-dashboard-container {
    .header-container {
      display: none;
    }

    main {
      margin-top: 50px;

      .modalAddProducts {
        width: 100%;

        .body-modal {
          flex-direction: column;
          align-items: center;

          .productVisualization .productAndInfo .productInfo {
            text-align: center;
          }

        }
      }

      .header-modal {
        width: 100%;
        align-items: center;

        h1 {
          width: 100%;
          font-size: 20px;
        }
      }

      .areaBtn {
        width: 80%;

        .btn {
          font-size: 14px;
        }
      }
    }
  }
}