.profile-orders-table {
    table {
        width: 100%;
        text-align: center;

        thead {
            background-color: #4E4E4E;
            color: #fff;
            font-weight: 100;
        }

        td {
            padding: 15px;
            border-bottom: solid 1px;
        }

        .send {
            color: #E1AB38;
        }

        .pending {
            color: red;
        }
    }
}