.modal-user {
  width: 150px;
  position: absolute;
  top: 125px;
  z-index: 2;
  right: -20px;
  transition: 2ms;

  .modal-user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    box-shadow: 10px 0px 69px 0px rgb(0 0 0 / 59%);
    border-radius: 6px;
    z-index: 2;
  }

  .modal-user-list {
    display: flex;
    flex-direction: column;
    left: 1%;
    flex-wrap: nowrap;
    color: #ffce45;
    font-size: 1.2rem;
    font-weight: 600;

    .modal-user-list-item {
      list-style: none;

      li {
        padding: 20px;
      }

      li > a, li > span {
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
      }

      li > a:hover, li > span:hover {
        color: #ffce45;
        font-weight: 800;
        transition: 0.2;
        cursor: pointer;
      }
    }
  }
}
