.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;

  .main-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    h3 { margin-left: 20px }
  }

  .message-div { color: red }
}