.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  position: relative;

  .main-div {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    max-width: 1200px;

    h3 {
      margin-left: 20px;
    }
  }

  .message-div {
    color: red;
  }
}
