.container-promo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  .swiper-pagination {
    position: relative;
    padding-top: 20px;
    display: block;
  }
}

.swiperSlidePromo {
  height: 100%;
  min-width: 900px;
  margin-bottom: 30px;
  margin-top: 10px;
  overflow-y: auto;

  h1:first-child {
    color: #000;
    text-align: center;
  }

  .blog-title:before,
  .blog-title:after {
    background-image: linear-gradient(rgb(197, 197, 197), rgb(44, 44, 44));
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 30%;
  }

  /* Aqui configuramos o estilo
       da linha esquerda (before)
    */
  .blog-title:before {
    right: 0.5em;
    margin-left: -50%;
  }

  /* Aqui configuramos o estilo
       da linha direita (after)
    */
  .blog-title:after {
    left: 0.5em;
    margin-right: -50%;
  }

  .swiper {
    width: 80%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: auto;
  }

  .card-oferta {
    display: flex;
  }

  .container-img-promo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .title-product-promo {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
  }
  .full-price-promo {
    color: #818181;
    text-decoration: line-through;
  }
}
