.item {

  display: flex;

  .itemInfo {
    display: flex;
    width: 59%;
  }

  .imgItem {
    width: 15%;
    height: 50px;
    margin-right: 20px;
  }

  .quantity {
    display: flex;
    flex-direction: column;
    width: 8%;

    .increaseDecrease {
      display: flex;
    }

    .increaseDecreaseButton,
    .quantityInput {
      width: 100%;
      height: 25px;
      font-size: 20px;
    }

    .removeItem {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }

    button {
      background-color: #E4AF39;
      border: 1px solid #0F0F0F;
      color: white;
      border-radius: 20%;
      line-height: 20px;
      cursor: pointer;
    }

    .quantityInput {
      width: 100%;
      text-align: center;
    }

    .deleteProduct {
      display: flex;
      font-size: 10px;

      a {
        color: #0F0F0F;
      }
    }
  }

  .price {
    margin-left: 9%;
  }

  .totalValue {
    margin-left: 12%;
  }

  .price,
  .totalValue {
    color: #E4AF39;
    width: 58px;
    text-align: center;
    font-weight: 700;
  }

}

.homeButton {
  color: #E4AF39;
  font-weight: 600;
  cursor: pointer;
}

.finishBuyButton {
  background-color: #E4AF39;
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-weight: 600;
  border: 1px solid #0F0F0F;
  margin-left: 30px;
  cursor: pointer;
}

.actions {
  margin: 30px;
  text-align: end;

}

.info-cart-top {
  .icon-home-cart {
    margin-top: 1%;
    margin-left: 10%;
  }
}


@media (max-width: 1120px) {

  .cartContainer .cardContainer {
    margin: 0px;

    .item .quantity {
      width: 30%;
    }
  }
}