.myLogin{

    .container{
        display: flex;
        margin: 50px 60px;
        

        .content{
            width: 76%;
            display: flex;

            .info{
                flex-grow: 1;
            }

            .infoText{
                margin-right: 30px;

                .forms{

                    display: flex;
                    justify-content: space-between;
                    margin: 0px 30px;

                }
            }

        }

    }

}