.main-content .info {
  padding: 50px 50px;

  .infoText {
    margin-left: 0px;
    margin: 0px 0px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;

    .profile-content-header {
      margin-left: 30px;
    }
  }
}

.itemList {
  list-style-type: none;

  .item {
    border-top: (1px solid #000000);
    border-bottom: (1px solid #000000);
    display: flex;
    padding: 5px;

    .itemSpace {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .itemName {
      margin-left: 10px;
    }

    p {
      margin: 0px 0px;
      font-weight: 400;
    }

    .rating {
      .trashButton {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
      }

      margin-right: 30px;

      img {
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 1120px) {
  .main-content .info {
    padding: 0px 0px;
  }

  .itemList .item .rating {
    margin-right: 0px;
  }

  .itemList {
    .item {
      .itemName h5 {
        margin-left: 45px;
      }
    }
  }
}
