.main-content .info{

    padding: 50px 50px;

    .infoText {
        margin-left: 0px;
        margin: 0px 0px;
        
    
        .profile-content-header {
            margin-left: 30px;
        }
    }

} 

.itemList {
    list-style-type: none;


    .item {
        border-top: (1px solid #000000);
        border-bottom: (1px solid #000000);
        display: flex;
        padding: 5px;

        .itemSpace {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .itemName {
            margin-left: 10px;
        }

        p {
            margin: 0px 0px;
            font-weight: 400;
        }

        h5 {
            border: 1px solid#E4AF39;
            background-color: #E4AF39;
            border-radius: 50px;
            color: white;
            text-align: center;
            width: 50%;
        }

        .rating {

            margin-right: 30px;

            img {
                margin-top: 10px;
            }

            .rate {
                float: left;
                height: 46px;
                padding: 0 10px;
            }

            .rate:not(:checked)>input {
                position: absolute;
                top: -9999px;
            }

            .rate:not(:checked)>label {
                float: right;
                width: 1em;
                overflow: hidden;
                white-space: nowrap;
                cursor: pointer;
                font-size: 25px;
                color: #ccc;
            }

            .rate:not(:checked)>label:before {
                content: '★ ';
            }

            .rate>input:checked~label {
                color: #ffc700;
            }

            .rate:not(:checked)>label:hover,
            .rate:not(:checked)>label:hover~label {
                color: #deb217;
            }

            .rate>input:checked+label:hover,
            .rate>input:checked+label:hover~label,
            .rate>input:checked~label:hover,
            .rate>input:checked~label:hover~label,
            .rate>label:hover~input:checked~label {
                color: #c59b08;
            }
        }
    }
}




@media (max-width: 1120px) {

    .main-content .info{
        padding: 0px 0px;
    }

    .itemList .item .rating{
        margin-right: 0px;
    }



}