.container-team {
  min-height: 100%;
  margin-bottom: 200px;
  height: 100vh;
  flex-direction: column;

  .container-button {
    display: flex;
    width: 100%;
    height: 25vh;
    flex-direction: column;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffce45;
      border-radius: 6px;
      font-size: 22px;
      height: 40px;
      width: 350px;
      color: white;
      font-weight: bold;
      margin: 40px;
    }
    h4 {
      display: flex;
      justify-content: center;
      font-size: 22px;
    }
  }
  .agendamento-button {
    text-decoration: none;
    color: black;
  }
  .container-agendamento-button {
    display: flex;
    justify-content: center;
    height: 10vh;
  }
  #h4-titulo {
    margin-top: 50px;
  }
  .cast-team {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .professionals {
    display: flex;
    width: 50%;
    height: 100%;
    margin: 8em;
    border-width: 2px;
  }
  .photo-employee {
    width: 100%;
    height: 40%;
  }
  .list-employee {
    width: 100%;
    height: 100%;
    padding: 5px;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
    }
  }
  img {
    width: 100%;
    height: 100%;
    padding: 5px;
  }
  .p-list {
    width: 100%;
    height: 100vh;
    h3 {
      font-size: 22px;
      font-style: italic;
    }
    h4 {
      font-size: 20px;
      opacity: 80%;
    }
    p {
      font-weight: bold;
      opacity: 75%;
      padding: 5px;
    }
  }

  Footer {
    position: relative;
  }

  .p-list {
    position: relative;
    width: 90%;
    height: 10vh;
  }

  @media (max-width: 1120px) {
    .container-team {
      width: 100%;
      height: 2000px;
    }

    .cast-team {
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
    .professionals {
      width: 100%;
      height: 800px;
      margin: 0px;
    }

    img {
      width: 80%;
      margin-left: 50px;
    }
    .container-button {
      margin-bottom: 50px;
    }
  }
}
