.dashboard-cards-container .card {
    display: flex;
    flex-direction: column;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    
    background-color: #fff;
    margin: 15px;
    
    width: 33%;
    height: 130px;
    border-radius: 10px;
    
    h2, h5 { font-weight: 500; }

    &:hover {
        border: 1px solid #3751FF;
        color: #3751FF;
        cursor: pointer;
    }
}

@media (max-width: 1020px) {
    .dashboard-cards-container .card {
        height: 100px;
        margin: 5px;
        width: 80%;
    }
}