.dashboard-cards-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 1020px) {
    .dashboard-cards-container {
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
}