.shopContainer {
  background-color: #f3f3f3;

  main {
    display: flex;
    margin-top: 35px;
    font-weight: bold;

    aside {
      width: 22%;

      .modal ul {
        background-color: #333;
        color: #f3f3f3;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        box-shadow: 2px 3px 10px #00000041;
        height: 590px;

        button {
          display: none;
        }

        h1,
        h2 {
          text-align: center;
          color: #f3f3f3;
        }

        li {
          font-weight: 500;
          font-size: 18px;
          width: 100%;

          input {
            margin-right: 10px;
            border-radius: 5px;
            border: 0.5px solid black;
          }
        }

        button {
          height: 30px;
          width: 150px;
          background-color: #eab53c;
          color: #f3f3f3;
          border: none;
          border-radius: 5px;
          margin-left: 45px;
          margin-top: 15px;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 16px;
          transition: 0.2s ease-in-out all;
          letter-spacing: 2px;
        }

        button:hover {
          cursor: pointer;
          background-color: #e8b02dee;
        }

        .filter-by-price {
          width: 100%;
          justify-content: space-between;
          display: flex;

          input {
            margin-left: 5px;
            width: 70px;
            padding-left: 6px;
            font-size: 18px;
          }
        }
      }
    }
  }

  .col-2 {
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    // align-items: flex-end;
    width: 100%;
    // max-width: 1120px;
    min-height: 800px;

    .filterAndProducts {
      display: flex;
      @media (min-width: 1020px) {
        #buttonToggleFilter {
          text-align: right;
          margin-right: 10px;
          font-size: 20px;
          text-decoration: underline;
          display: none;
        }
      }
    }

    .ul-products {
      width: 100%;
      // height: 100%;
      margin-top: 0px;
      display: flex;
      list-style-type: none;
      flex-wrap: wrap;

      .swiper-container {
        height: 400px;
      }

      // .products-container{
      //   display: flex;
      //   flex-wrap: wrap;
      // }
      ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        // justify-content: center;

        li {
          button {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
          }
        }

        .container-img-promo {
          text-overflow: ellipsis;
          overflow: hidden;
          background-color: #f3f3f3;
          display: flex;
          width: 224px;
          height: 420px;
          margin: 12px;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          box-shadow: -2px -3px 11px #00000069;
          padding: 40px;
          border-radius: 6px;
          transition: 0.5s;
          background-image: linear-gradient(#e2e2e2, #e2e2e2);
          background-size: 0 100%;
          background-repeat: no-repeat;
          transition: 0.6s;

          .container-text-product {
            //background-color: #333;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;

            display: flex;
            align-items: center;
            height: 100%;
            flex-direction: column;

            .full-price-promo {
              font-size: 0.875rem;
              color: red;
              opacity: 0.8;
              font-weight: 00;
              text-decoration: line-through;
              text-overflow: ellipsis;
            }

            .cash-payment {
              font-size: 0.9rem;
              margin: -20px 0;
            }

            .title-product-promo {
              font-weight: 600;
              font-size: 0.875rem;
              text-align: center;
              width: 100%;
              color: #333;
            }

            .price-discount {
              //margin-top: 30px;
              font-size: 1.3rem;
              color: #eab53c;
              font-weight: 800;
            }
          }

          span {
            text-align: center;
            margin-top: 3px;
            font-size: 0.8rem;
          }

          img {
            max-height: 224px;
            max-width: 224px;
            min-height: 224px;
            min-width: 224px;

            float: left;
            object-fit: cover;
            transition: 0.3s all ease-in-out;
          }
        }

        .container-img-promo:hover {
          img {
            transform: scale(1.02);
          }

          background-size: 100% 100%;
        }

        .full-price-promo > span:hover {
          // width: 100%;
          // height: 100%;
          display: flex;
          justify-content: center;
          white-space: normal;
          overflow: visible;
          word-break: break-all;
          text-align: center;
        }

        a {
          padding: 0px 0px;
          color: #333;
          text-decoration: none;
        }
      }
    }

    .select-div {
      text-align: end;

      select {
        // margin-left: 90%;
        width: 200px;
        border-radius: 5px;
        height: 45px;
        background-color: #f3f3f3;
        margin-right: 10px;
        margin-bottom: 20px;
      }
    }
  }

  .p-all-products-null-products {
    padding-left: 5px;
  }
}

.pagination-container {
  width: 80%;
  justify-content: center;
  display: flex;
  list-style: none;
  margin-bottom: 10px;
  margin-left: 12%;
  .buttonChangePage button,
  .currentPage {
    color: #eab53c;
    text-transform: capitalize;
    margin: 0 15px;
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 36px;
    font-weight: 700;
    border: none;
  }

  .currentPage {
    width: 36px;
    color: #e2e2e2;
    border-radius: 50%;
    background-color: #eab53c;
  }
}

@media (max-width: 1020px) {
  main {
    flex-direction: column;

    aside {
      width: 100%;

      .hidden {
        display: none;
      }

      .modal ul {
        height: calc(100vh - 200px);
        width: 90vw;
        left: 5vw;
        display: flex;
        position: fixed;
        top: 100px;
        box-shadow: 0px 0px 0px 100px rgba(86, 86, 86, 0.467);
        z-index: 5;

        .row {
          display: flex;
          width: 60%;
          margin-left: 40%;
          justify-content: space-between;
          align-items: center;

          button {
            display: block;
            width: 50px;
            font-size: 25px;
            height: 50px;
          }
        }
      }
    }

    .col-2 {
      margin-top: 25px;

      .filterAndProducts {
        flex-direction: column;
        text-align: center;

        #buttonToggleFilter {
          text-align: right;
          margin-right: 10px;
          font-size: 20px;
          text-decoration: underline;
          align-items: center;
          display: block;
          a {
            width: 100%;
          }
        }

        .ul-products {
          margin-top: 20px;
          justify-content: center;
          align-items: center;

          .ul-products {
            display: block;
            .swiper-container {
              display: flex;
              justify-content: center;
            }
          }
        }

        ul {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          list-style: none;
        }
      }
    }
  }
}
