.container-info-product {
  width: 60%;
  height: 100%;
  margin: 0 auto 50px auto;
  border: 1px solid #3333335e;
  background: linear-gradient(#fcfcfc, #ffffff);
  border-top: none;
  box-shadow: 1px 0px 1px #9c9c9c;
  border-radius: 0px 0px 6px 6px;

  ul {
    padding: 50px;
  }
  li {
    list-style: none;
    margin-top: 50px;
  }
}
