.container-components-product   {
  width: 100%;
  height: 100%;

.container-products {
  width: 100%;
  height: 100%;
  display: flex;
}
.container-top-products {
  width: 75%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 70px;
  h1 {
    font-size: 17px;
    padding-top: 25px;
    padding-left: 5px;
  }
}
.icon-home-products {
  padding-top: 25px;
  padding-left: 0px;
}
.photo-info-products {
  width: 50%;
  height: 100%;
  margin-left: 80px;
  padding-left: 125px;

  p {
    margin-right: 10px;
  }
  h1 {
    margin-bottom: 25px;
  }
}
.info-p-products {
  display: flex;
  width: 100%;
}
.photo-product {
  img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  img {
    width: 50%;
    display: flex;
    padding: 5px;
  }
}

.products-info-price {
  padding-top: 30px;
  margin-left: 80px;
}
.available-products {
  display: flex;
  h1 {
    padding-left: 5px;
    padding-top: 8px;
    font-size: 20px;
  }
}
.icon-star-product {
  padding: 10px;
}
.icon-heart-products {
  padding: 10px;
  padding-left: 150px;
  img:hover {
    background-color: #e1ab38;
    opacity: 80%;
    transition: 0.5s;
  }
}
.price-product {
  padding: 60px;
  padding-bottom: 25px;
  padding-left: 10px;

  font-weight: bold;
  h1 {
    color: #e1ab38;
    font-size: 45px;
  }
}
.button-product {
  padding-left: 10px;
}
.amount-product {
  width: 38px;
  height: 22px;
}
.button-buy-product {
  display: flex;
  margin-left: 10px;
  background-color: #e1ab38;
  border-radius: 6px;
  width: 200px;
  margin-top: 20px;
  border: none;
}
a{
  text-decoration: none;
}
h3 {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  font-size: 18px;
}
.button-buy-product:hover {
  background-color: #e1ab38;
  transform: scale(1.1);
  opacity: 80%;
  transition: 0.5s;
}
.icon-bag-product {
  padding-left: 25px;
}
.frete-product {
  padding-top: 70px;
  padding-left: 15px;
  p {
    padding-bottom: 15px;
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding-left: 5px;
  }
  input {
    padding-left: 10px;
    padding-right: 5px;
    font-size: 15px;
    border-radius: 6px;
    width: 120px;
    -webkit-appearance: none;
  }
  button {
    border-radius: 6px;
    width: 50px;
    height: 30px;
  }
}
.ul-products {
  margin-top: 20px;
  margin-bottom: 100px;

  a {
    padding-left: 5px ;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
}

@media (max-width: 1120px) {
  .container-products {
    flex-direction: column;
  }
  .photo-info-products {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .name-product {
    width: 100%;
    padding: 0px;
    h1{
      padding-left: 20px;
    }
    p{
      padding-left: 20px;
    }
  }
  .products-info-price {
    margin-left: 0px;
  }
  .price-product {
    padding-left: 20px;
    h1{
      font-size: 40px;
    }
    h3{
      padding: 0px;
    }
  }
  .button-product {
    padding-left: 20px;
  }
  .button-buy-product {
    margin-left: 20px;
  }
  .frete-product {
    padding-left: 20px;
  }
  .name-product {
    h1 {
      display: flex;
    }
  }
  .container-top {
    padding-left: 0px;
  }

  .icon-heart-products{
    padding-left: 70px;
  }
  .icon-star-product{
    display: none;
  }
  .ul-products{
    a{
      padding-left: 20px;
    }
  }
  .available-products{
    h1{
      padding-left: 20px ;
    }
}

}
}