.container-components-product {
  width: 100%;
  height: 100%;
  background: linear-gradient(#e8e8e8a3, #ffffff);
  padding-bottom: 5%;

  .container-products {
    background: #fcfcfc;
    width: 60%;
    height: 100%;
    display: flex;
    position: relative;
    margin: 0 auto;
    border: 1px solid #3333335e;
    border-bottom: none;
    box-shadow: 1px 0px 1px #9c9c9c;
    border-radius: 6px 6px 0px 0px;
  }

  .container-top-products {
    width: 75%;
    margin: 0 auto;
    display: flex;

    a {
      font-weight: 600;
      font-size: 17px;
      padding-top: 28px;
      padding-left: 10px;
      text-decoration: none;
      color: #000;
    }
  }

  .icon-home-products {
    padding-top: 29px;
    padding-left: 0px;
  }

  .photo-info-products {
    width: 50%;
    height: 100%;
    margin-left: 60px;

    .name-product {
      display: flex;
      flex-direction: column;
      position: relative;
      right: 30px;
      top: 10px;
      padding-bottom: 20px;
    }

    p {
      margin-right: 10px;
    }

    h1 {
      font-size: 1.5rem;
      color: #333333;
    }
  }

  .info-p-products {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    position: relative;

    span {
      color: red;
    }
  }

  .photo-product {

    text-align: center;
    
    p{
      margin-right: 0px;
    }

    img:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      transition: 0.5s;
    }

    img {
      // width: 100%;
      margin: 0px 0px;
      display: flex;
      // padding: 5px;
      // padding-bottom: 10px;
    }
  }

  .products-info-price {
    flex: 1;
    box-shadow: 0px 1px 1px #c6c6c6;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .name-product {
      display: flex;
      align-items: center;
      margin: 25px 0;
      justify-content: space-between;
      width: 80%;
      h1 {
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 1px;
        padding-left: 10px;
      }
    }
  }

  .available-products {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    right: 20%;
  }
}

.price-product {
  padding-bottom: 14px;
  padding-left: 10px;
  position: relative;
  bottom: 20px;
  font-weight: bold;

  h1 {
    color: #e1ab38;
    font-size: 45px;
  }

  h3 {
    color: #333333;
  }
}

.button-product {
  padding-left: 10px;
  margin-bottom: 3px;

  p {
    font-weight: 500;
  }

  input::placeholder {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.amount-product {
  width: 40px;
  height: 22px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
  background-color: rgb(187, 187, 187);
  color: black;
  text-align: center;
  width: 50px;
  height: 30px;
  outline: none;
  margin-left: 8px;
}

.button-buy-center {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;

  .button-buy-product {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1ab38;
    border-radius: 6px;
    width: 100%;
    border: none;
    padding: 8px;
    cursor: pointer;
    text-align: center;
  }

  a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }

  h3 {
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    justify-content: center;
    align-items: center;
  }
}
.cart-notification {
  color: #2ac300ed;
  text-align: center;
}

.cart-notification-error {
  color: red;
  text-align: center;
}

.button-buy-product:hover {
  background-color: #e1ab38;
  transform: scale(1.1);
  opacity: 80%;
  transition: 0.5s;
}

.frete-product {
  padding-top: 30px;
  margin-left: 20px;
  position: inherit;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;

  p {
    padding-bottom: 3px;
    color: #333333;
    font-weight: 500;
    font-size: 0.875rem;
    text-align: left;
  }

  a {
    color: #333333;
    font-weight: 600;
    font-size: 0.813rem;
    padding-top: 10px;
    float: right;
  }

  input {
    padding-left: 10px;
    padding-right: 5px;
    text-align: center;
    font-size: 15px;
    border-radius: 6px;
    width: 120px;
    height: 30px;
    -webkit-appearance: none;
    vertical-align: baseline;
    float: left;
    margin-top: 2px;
    border: none;
    box-shadow: 1px 0px 6px 0px #333333;
  }

  button {
    border-radius: 6px;
    width: 50px;
    height: 30px;
    border: none;
    margin-top: 2px;
    box-shadow: 1px 1px 6px 0px #333333;
    cursor: pointer;
    margin-left: 20px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

//===========HEART===========//

.heart-products {
  flex-direction: row;
  float: right;
  //margin-left: 50px;
  align-content: flex-end;

  img {
    margin-top: 10px;
  }

  // .heart-product {
  //   //padding: 0 10px;
  // }

  .heart-product:not(:checked) > input {
    position: absolute;
    top: -9999px;
  }

  .heart-product:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 49px;
    color: #ccc;
  }

  .heart-product:not(:checked) > label:before {
    content: " â¤ ";
  }

  .heart-product > input:checked ~ label {
    color: red;
  }

  .heart-product:not(:checked) > label:hover,
  .heart-product:not(:checked) > label:hover ~ label {
    color: red;
  }

  .heart-product > input:checked + label:hover,
  .heart-product > input:checked + label:hover ~ label,
  .heart-product > input:checked ~ label:hover,
  .heart-product > input:checked ~ label:hover ~ label,
  .heart-product > label:hover ~ input:checked ~ label {
    color: red;
  }
}

.ul-products {
  margin-top: 20px;
  margin-bottom: 100px;

  a {
    // padding-left: 0px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

.spinner-center {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

@media (max-width: 1120px) {
  .container-components-product {
    .available-products {
      h1 {
        font-size: 14px;
      }

      svg {
        transform: scale(0.7);
      }
    }
    .container-products {
      flex-direction: column;
      .photo-info-products {
        width: 100%;
        margin: 0px;
        padding: 0px;
        font-size: 10px;

        .photo-product {
          .info-products-info {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              display: flex;
              justify-content: center;
            }
          }
        }

        .name-product {
          right: 0;
        }

        .info-p-products {
          justify-content: center;

          p {
            margin: 0 0;
          }
        }
      }

      .products-info-price {
        margin-left: 0;
        width: 100%;
      }
    }

  }

  .name-product {
    width: 100%;
    padding: 0px;

    h1 {
      padding-left: 20px;
    }

    p {
      padding-left: 20px;
    }
  }

  .photo-product {
    //display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }

  .ul-products {
    a {
      justify-content: center;
      display: flex;
      align-items: center;
      margin-left: 8%;
    }
  }

  .price-product {
    padding-top: 15px;
    text-align: center;
    padding-left: 0;
  }

  .button-product {
    padding-left: 0;
  }

  .button-buy-center {
    width: 100%;
    padding: 10px;
    .button-buy-product {
      width: 100%;
    }
  }

  .frete-product {
    margin-bottom: 50px;
    padding-top: 10%;
    margin-left: 0;
  }

  .name-product {
    h1 {
      display: flex;
    }
  }

  .container-top {
    padding-left: 0px;
  }
}

.price-product {
  .price {
    font-size: 40px;
  }

  h3 {
    padding: 0px;
  }
}

// .icon-star-product {
//   display: none;
// }
// .icon-heart-products {
//   padding-left: 70px;
// }
// .icon-star-products {
//   width: 50%;
//   padding-top: 8px;
//   .star-one {
//     padding: 0%;
//   }
//   .star-two {
//     padding: 0%;
//   }
//   .star-three {
//     padding: 0%;
//   }
//   .star-four {
//     padding: 0%;
//   }
//   .star-five {
//     padding: 0%;
//   }
// }

// .icon-star-products {
//   .star-one {
//     margin-right: 2px;
//     justify-content: center;
//     padding-left: 5px;
//     padding-top: 8px;
//   }

//   .star-two {
//     margin-right: 2px;
//     justify-content: center;
//     padding-left: 5px;
//     padding-top: 8px;
//   }

//   .star-three {
//     margin-right: 2px;
//     justify-content: center;
//     padding-left: 5px;
//     padding-top: 8px;
//   }

//   .star-four {
//     margin-right: 2px;
//     justify-content: center;
//     padding-left: 5px;
//     padding-top: 8px;
//   }

//   .star-five {
//     margin-right: 2px;
//     justify-content: center;
//     padding-left: 5px;
//     padding-top: 8px;
//   }
// }

// .rating {
//   padding-left: 20px;
//   padding-top: 8px;
//   font-size: 20px;
//   color: #333333;
// }

// .icon-heart-products {
//   padding: 10px;
//   padding-left: 150px;
//   img:hover {
//     background-color: #e1ab38;
//     opacity: 80%;
//     transition: 0.5s;
//   }
// }
