.cards-finances {
    width: 100%;
    margin: auto;
    height: 15vh;
    background-color: #d9d9d9;
    display: flex;
    a{
      text-decoration: none;
    }
  }
  .link-financas{
    width: 100%;
    height: 100%;
    
  }
  .div-card-finances:hover{
    border: 2px solid blue;
    h3{
      color: blue;
      opacity: 70%;
    }
    h2{
      color: blue;
      opacity: 70%;
      
    }
  }
  @media (max-width: 1120px) {
    .cards-finances{
      margin-top: 50px;
      display: block;
      height: 100%;
      margin: 0px;
      border-radius: 6px;
    }
    .div-card-finances{
      width: 100%;
      border-radius: 0px;
    }
   
  }