.address-form-container {
    .row {
        display: flex;
        flex-wrap: wrap;

        .form-group {
            display: flex;
            width: 40%;
            flex-direction: column;
        }

        .street {
            width: 50%;
        }

        .number {
            width: 10%;
        }

        .complement {
            width: 18%;
        }

        .district {
            width: 19%;
        }

        .street,
        .number,
        .complement {
            margin-right: 1%;
        }

        .second-row {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
        }

        .second-row-group {
            display: flex;

            .form-group {
                margin-right: 2%;
            }
        }
    }

    button {
        padding: 5px 18px 5px 18px;

        border: solid 1px black;
        border-radius: 3px;

        color: white;
        background-color: #E4AF39;

        &:hover {
            background-color: rgb(205, 148, 27)
        }
    }

    input {
        border: solid 1px black;
        border-radius: 4px;

        padding: 4px 10px 4px 10px;
    }
}