.table-content {
    display: flex;
    justify-content: center;

    table {
        .address {
            text-align: start;
            padding-left: 20px;
        }
   
        .edit-button {
            background: none;
            border: none;
            margin: 3px;
        }
    }
}