@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

.cartContainer .cardContainer {
  display: none;
}

.cartContainer table {
  width: 100%;
}
.cartContainer svg {
  transition: 0.3s all linear;
}
.cartContainer svg:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.cartContainer .imgCartItem:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.cartContainer table thead tr {
  background-color: #4e4e4e;
  color: #f3f3f3;
  font-size: 16px;
  padding: 6px;
  display: flex;
  flex-direction: flex;
  width: 100%;
  justify-content: space-around;
}

.cartContainer table thead .col-1 {
  width: 50%;
  text-align: left;
}

.cartContainer tbody {
  border: 3px solid saddlebrown;
  width: 100%;
  min-width: 100%;
}

.cartContainer tbody tr {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  width: 100vw;
  overflow-x: hidden;
  border-top: 0.25px solid #4e4e4ebd;
  border-bottom: 0.25px solid #4e4e4ea7;
}

.cartContainer tbody tr .tdCol-1 {
  width: 50%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cartContainer tbody tr .tdCol-2 {
  display: flex;
  align-items: center;
}

.cartContainer tbody tr .tdCol-3,
.cartContainer tbody tr .tdCol-4 {
  font-weight: 900;
  color: #e4af39;
}

.cartContainer tbody tr td {
  height: 90px;
  width: 5%;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.cartContainer tbody tr .tdCol-1 .full-price-promo {
  color: #f3f3f3;
  background-color: #e4af39;
  text-decoration: line-through;
  text-align: center;
  width: 100px;
  border-radius: 50px;
}

.cartContainer tbody tr td div {
  display: flex;
  flex-direction: column;
  margin-right: 50%;
}

.cartContainer tbody tr img {
  max-width: 55px;
  max-height: 75px;
  margin-right: 40px;
  transition: 0.3s all linear;
}

.cartContainer tbody tr td input {
  width: 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  border: 0.5px solid black;
  margin-right: 1px;
}

.cartContainer table tfoot {
  position: absolute;
  height: 100px;
  right: 80px;
}

.cartContainer table tfoot tr th {
  font-weight: bold;
}

.cartContainer table tfoot tr td {
  color: #e4af39;
  font-weight: 600;
}

.cartContainer table tfoot tr td {
  text-align: center;
  width: 100%;
}

.cartContainer main .homeButton {
  font-size: 18px;
  color: #f3f3f3;
  width: fit-content;
  background-color: #e4af39;
  padding: 8px;
  margin-left: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  border: 0.5px solid black;
  box-shadow: 2px 2px 8px black;
  transition: 0.3s all ease-in-out;
}

.cartContainer main .actions {
  position: absolute;
  justify-content: flex-end;
  right: 60px;
  display: flex;
  width: 100%;
  margin-top: 70px;
}

.cartContainer main .actions .finishBuyButton {
  color: #e4af39;
  font-weight: 700;
  transition: 0.3s all ease-out;
}
.cartContainer main .actions .finishBuyButton:hover {
  color: #b07b08;
}

.cartContainer main .actions .homeButton:hover {
  background-color: #d79a16;
  color: #fff;
}

@media (max-width: 1120px) {
  .cartContainer {
    width: 100%;
  }

  .cartContainer ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .cartContainer .cardContainer {
    font-weight: 600;
    display: block;
    list-style: none;
    margin: 25px 25px;
    box-shadow: 4px 4px 12px black;
  }
  .cardContainer .row {
    width: 100%;
    text-align: center;
  }
  .cardContainer .first label {
    height: 20%;
    font-size: 18px;
  }

  .cardContainer .second {
    margin-top: 10%;
    height: 70%;
    display: flex;
  }
  .cardContainer .second aside {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .cardContainer .second aside label .full-price-promo {
    color: red;
    text-decoration: line-through;
  }
  .cardContainer .second aside label .price-discount {
    color: #d79a16;
  }

  .cardContainer .second aside input {
    width: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
  }

  .cartContainer table {
    display: none;
  }

  .cardContainer {
    width: 320px;
    height: 291px;
    border: 1px solid #4e4e4e;
  }

  .cardContainer .second aside .imgCartItem {
    max-width: 160px;
    max-height: 120px;
    box-shadow: 1px 1px 1px black;
  }

  .cardContainer .second aside .imgCartItem:hover {
    transform: scale(1.5);
    cursor: pointer;
  }

  .cartContainer main .actions {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    right: 5px;
    height: 150px;
    justify-content: space-around;
    align-items: flex-end;
  }

  .cartContainer main .actions .homeButton {
    text-align: center;
    width: 150px;
    font-size: 12px;
    margin-bottom: 25px;
  }

  .container-promo {
    margin-top: 200px;
  }
}
