.navbar-container {
  height: 150px;
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1200px;

    .logoInSearch {
      display: flex;
      height: 100%;

      .logo-navbar {
        top: 10px;
      }

      img {
        position: relative;
        display: flex;
        width: 300px;
      }

      .inputSearch {
        display: flex;
        align-items: center;
        position: relative;
        top: 30px;

        button {
          display: flex;
          width: 30px;
          height: 40px;
          position: relative;
          background-color: transparent;
          z-index: 2;
          border: none;
          cursor: pointer;
          right: 30px;
          bottom: 13px;
        }

        img {
          align-self: center;
          width: 120%;
          height: 60%;
          padding-right: 10px;
        }

        .inputList {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        #txtBusca {
          background-color: #f3f3f3;
          position: relative;
          height: 40px;
          width: 600px;
          border-radius: 6px;
          z-index: 1;
          padding: 20px;
          outline: none;
          box-shadow: 1px 0px 5px 0px #848484;
          border: none;
        }
      }
    }

    .list {
      display: flex;

      ul {
        display: flex;
        list-style: none;
        align-items: center;

        li {
          cursor: pointer;
          margin: 0 15px;

          a {
            color: #fff;
            text-decoration: none;
            font-weight: 500;
          }

          a:hover {
            color: #ffce45;
            font-weight: 800;
            transition: 0.2;
          }
        }
      }
    }

    .user-logged {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      align-items: center;
      height: 100px;
      justify-content: center;

      label {
        font-size: 20px;
        color: #e1ab38;
      }
    }

    .login-button {
      border: 0;
      outline: none;
      background-color: #e1ab38;
      padding: 8px 15px;
      border-radius: 6px;
      display: flex;
      line-height: 15px;
      text-decoration: none;
      color: #f3f3f3;
      position: relative;
      top: 7px;
      cursor: pointer;

      img {
        width: 30px;
        margin-right: 20px;
      }

      span {
        display: flex;
        font-size: 19px;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        justify-content: center;
      }

      .admin-navbar {
        padding-top: 10px;
        color: #ff2c24;
      }
    }
  }
}

// javascript code mobile
.navbar-user-logged {
  display: flex;
  // align-items: center;
  justify-content: center;
  position: relative;
  top: 10px;

  .div-button {
    a {
      margin-top: 25px;
      margin-right: 25px;
    }
  }

  .navbar-user-logged-name {
    display: flex;
    align-items: center;

    button {
      border: none;
      background: transparent;
      cursor: pointer;
      img {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 60px;
        height: 60px;
        margin-top: 20px;
      }
      .rounded {
        border-radius: 50%;
      }
    }

    .navbar-user-name-logout {
      h4 {
        font-size: 18px;
        color: #e1ab38;
        margin-left: 10px;
        width: 160px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        span {
          color: #e1ab38;
        }
      }

      button {
        border: none;
        background: #e1ab38;
        cursor: pointer;
        color: #f3f3f3;
        font-size: 16px;
        margin-left: 10px;
        border-radius: 6px;
        width: 100px;
      }

      button:hover {
        background: #ffce45;
        color: #111;
        transition: 0.8;
      }
    }
  }
}

.buttonCart {
  border: none;
  background: transparent;
  cursor: pointer;
}

.alertClass {
  span {
    background-color: #ffce45;
    content: " ";
    display: none;
    justify-content: center;
    text-align: center;
    padding-top: 2px;
    border-radius: 50%;
    color: #333;
  }

  .alertIcon {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    position: relative;
    left: 25px;
    top: 30px;
  }

  .alertTremer {
    animation: tremer 0.2s;
    animation-iteration-count: 4;
  }
}

@keyframes tremer {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 7px;
  }
  50% {
    margin-left: 0;
  }
  75% {
    margin-left: -7px;
  }
  100% {
    margin-left: 0;
  }
}

a {
  .svgCart {
    width: 71px;
    margin-top: 25px;
    // margin-left: 30px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    .buttonCart {
      border: none;
      background: transparent;
      cursor: pointer;

      a {
        align-items: center;
        justify-content: center;
        img {
          width: 60px;
          margin-left: 15px;
        }
      }

      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 1120px) {
  .navbar-container {
    position: relative;
    height: 200px;
    background-color: #111;
    color: #fff;

    //mobile
    .navbar-user-logged-mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 72px;
      height: 100%;
      width: 100%;
      right: 27px;

      .svgUser-mobile {
        width: 40px;
        margin-bottom: 10px;
      }

      .svgCart-mobile {
        width: 32px;
      }

      .navbar-user-logged-name-mobile {
        display: flex;
        align-items: center;

        button {
          border: none;
          background: transparent;
          cursor: pointer;
          margin-left: 8px;
        }
      }
    }

    nav {
      justify-content: center;
      height: 100% !important;

      .logoInSearch {
        display: flex;
        flex-direction: column;

        a img {
          position: relative;
          left: 30px;
          width: 300px;
          right: 25px;
        }
        .inputSearch {
          top: 20px;

          #txtBusca {
            width: 232px;
            margin-top: 2px;
          }
          .inputList {
            margin-left: 70px;
          }
        }
        button {
          bottom: 0px !important;
        }
      }

      .icon {
        position: absolute;
        z-index: 4;
        left: 3%;
        width: fit-content;
        height: 44px;
        bottom: 8%;
        cursor: pointer;
      }

      .logo {
        display: flex;
        flex-direction: column;
      }

      //Menu hamburgue \/
      .hamburguer {
        top: 50%;
        left: 10%;
        width: 30px;
        height: 6px;
        background: #ffce45;
        position: absolute;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
      }
      .hamburguer::before {
        top: -12px;
        content: "";
        position: absolute;
        width: 37px;
        height: 6px;
        background: #ffce45;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
      }

      .hamburguer::after {
        top: 12px;
        content: "";
        position: absolute;
        width: 37px;
        height: 6px;
        background: #ffce45;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
      }
      .list {
        display: flex;
        flex-direction: column;
        left: 1%;
        flex-wrap: nowrap;
        color: #ffce45;
        font-size: 1.2rem;
        font-weight: 600;

        ul {
          display: flex;
          flex-direction: column;

          li {
            padding: 20px;
          }
        }
      }

      .list .listItems {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
      }

      .list .listItems ul li {
        margin: 22px 8px;
        cursor: pointer;
      }
      li:hover {
        font-weight: 800;
      }

      .icon.iconActive .hamburguer {
        background: transparent;
        box-shadow: 0 2px 5px transparent;
      }

      .icon.iconActive .hamburguer::after {
        top: 0;
        background-color: #f3f3f3;
        transform: rotate(225deg);
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
      }

      .icon.iconActive .hamburguer::before {
        top: 0;
        background-color: #f3f3f3;
        transform: rotate(135deg);
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
      }

      .menu.menuOpen {
        position: absolute;
        right: 190px;
        top: 53px;
        z-index: 2;
        width: 150px;
        background-color: #333;
        box-shadow: 10px 0px 69px 0px rgb(0, 0, 0, 0.59);
      }

      .menu.menuClose {
        display: none;
        width: 0;
      }
    }
  }
}
