.navbar-container {
  height: 100px;
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  nav {
    display: flex;
    max-width: 1120px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .logo {
      h1 {
        font-family: Great Vibes;
        font-size: 50px;
        color: #e1ab38;
      }
    }
    .list-container {
      .buttonLogout {
        display: flex;
        align-self: center;
      }

      .div-button {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .list {
        display: flex;
        ul {
          display: flex;
          list-style: none;
          align-items: center;
          li {
            cursor: pointer;
            margin: 0 15px;
          }
        }

        .user-logged {
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          align-items: center;
          height: 100px;
          justify-content: center;

          label {
            font-size: 20px;
            color: #e1ab38;
          }
        }

        .login-button {
          border: 0;
          outline: none;
          background-color: #e1ab38;
          padding: 8px 15px;
          border-radius: 6px;
          display: flex;
          line-height: 15px;
          cursor: pointer;
          img {
            width: 30px;
            margin-right: 20px;
          }
          span {
            display: flex;
            font-size: 19px;
            font-family: "Roboto", sans-serif;
            font-weight: bold;
            justify-content: center;
          }
        }
      }
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    color: #ffce45;
    opacity: 60%;
    transition: 0.5s;
  }
}

@media (max-width: 1120px) {
  .navbar-container {
    width: 100%;
    height: 200px;

    nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .logo h1 {
        padding-top: 30px;
      }

      .list-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;

        .div-button {
          display: flex;
          width: 100%;
          margin: 0 auto;
          flex-direction: column;

          align-items: center;
        }
        .list {
          display: flex;
          flex-direction: column;
          width: 100%;

          ul {
            margin: 0 auto;
          }
        }
      }
    }

    .login-button {
      display: flex;
      width: 180px;
      margin-left: 0 !important;
      margin-top: 15px;
    }
  }
}
