.myProfile{

    .footer{
        position: absolute;
        margin: 0px 0px;
        padding: 0px 0px;
    }
    
    // footer estava estourando a pagina por causa do min-width
    .footer__container{
        width: 100%;
        min-width: 0;
    }

    .logo{
        margin-left: 70px;
    }

    .container{
        margin: 50px 60px;
        display: flex;
    }

    // Pedidos
    .orders{
        border: 1px solid #e1ab38;
        border-radius: 5px;
        height: 20vh;
        width: 100%;
        margin-bottom: 20px;
    }
        .orders .orderText{
            padding: 25px 30px;
        }

        .orders .orderDetails{
            font-size: 14px;
        }

        .orders .recentOrders{
            margin-bottom: 5px;
            font-size: 16px;
        }    

    .ordersAndInfo{
        width: 76%;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1120px) {


    .myProfile {

        *{
            margin: 0px 0px;
            padding: 0px 0px;
        }

        width: 100%;

        .pageTitle{
            width: 100%;
            justify-content: center;
            margin: 0px 0px;
            padding: 0px 0px;
            margin-top: 20px;
        }

        .Footer{
            position: absolute;
            bottom: 0px;
        }

        .container{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0px 0px;
            align-items: center;
            margin-top: 20px;

            .options {
                margin: 0px 0px;
            }

        .ordersAndInfo{
            margin-top: 20px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 20px;
        }



        }

    }
    }