.table-content {
    table {        
        td.product {
            width: 75%;
            text-align: left;
        }
    
        p.product-price { color: #E4AF39 }
    
        .buy-button {
            letter-spacing: 1px;
            font-weight: 500;
            padding: 10px 8px;
            border: solid 1px black;
            color: white;
            background-color: #E4AF39;
            border-radius: 6px;
    
            &:hover { background-color: rgb(205, 148, 27) }
        }
    }
}