.dashboard-container .content {
    display: flex;
    justify-content: center;
    width: 100%;

    table {
        width: 95%;
    }
}

@media (max-width: 1020px) {
    .dashboard-container .content {
        margin-top: 50px;
    }
}