@import url(https://fonts.googleapis.com/css?family=Great+Vibes:regular);

@mixin buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  font-size: 0.875rem;
  color: #f3f3f3;
  font-weight: 600;
}

.homepage {
  overflow-x: hidden;
  overflow-y: hidden;
}

.navbar-homepage {
  background-color: #222;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.Logo-homepage {
  letter-spacing: 2px;
}

.button-home-homepage {
  display: inline-block;
  background: linear-gradient(to left, #7e370c, #ffce45);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2.25rem;
  font-family: Great Vibes;
  padding-left: 50px;
  width: 50vw;
  padding-left: 50px;
}

.button-product-homepage {
  @include buttons();
}

.button-contact-homepage {
  @include buttons();
}

.button-about-homepage {
  @include buttons();
}

.button-register-homepage {
  @include buttons();
}

.p-navbar-homepage:hover {
  color: #ffce45;
  opacity: 60%;
  transition: 0.5s;
}

.list-navbar-homepage {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  list-style: none;
}
.list-navbar-homepage > li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

.list-navbar-homepage > li > a {
  text-decoration: none;
}

.content-user-homepage {
  display: flex;
  flex-direction: row;
}

.p-register-homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  font-size: 0.875rem;
  color: #f3f3f3;
  font-weight: 600;
  text-decoration: none;
}

.img-content-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30;
  height: 30;
}

// Estilizacao do carrosel

.swiper {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  align-items: center;
  width: 100%;
  height: 302px;
  object-fit: cover;
}

.swiper-pagination > .swiper-pagination-bullet {
  opacity: 1;
  background-color: #222;
}
.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: #f5f5f5;
}

.swiper-button-prev,
.swiper-button-next {
  color: #f3f3f3 !important;
}
