table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

    thead {
        background-color: #4E4E4E;

        th {
            width: auto;
            color: white;
            font-weight: 300;
        }
    }

    tbody {
        td {
            width: auto;
            font-weight: 300;
            padding: 15px;
            background-color: #fff;
            border-bottom: 1px solid;

            img { max-width: 60px }
        }
    }
}

@media (max-width: 1020px) {
    table {
        th, td { font-size: 10px;}

        .responsive-hide { display: none }
    } 
    
}