.produtos-dashboard-container main table {
  width: 100%;
  margin-top: 20px;

  thead {
    background-color: #222;
    width: 100%;
    color: #f3f3f3;
  }

  tbody {
    width: 100%;
    font-weight: 600;


    // deixa o botao invisivel, pra clicar no icone de editar
    .editButton{
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }

    td {
      border-bottom: 1px solid #222;
    }

    .col-1 img {
      max-width: 80px;
      border-left: 1px solid #222;
    }

    .col-3 {
      color: rgb(61, 60, 60);
      max-width: 200px;
      font-size: 16px;
    }

    .col-4 {
      color: rgb(16, 173, 16);
      font-weight: bold;
    }
    .col-5 {
      color: rgb(209, 150, 47);
      font-weight: bold;
    }
    .col-6 {
      img {
        max-width: 25px;
        max-height: 25px;
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
      }
      .icon-edit {
        background-color: rgb(227, 169, 68);
      }
      .icon-trash {
        background-color: rgb(232, 71, 71);
      }

      img:hover {
        cursor: pointer;
      }
    }

    td label {
      margin-left: 10px;
    }
  }
}
@media (max-width: 1020px) {
  .produtos-dashboard-container main table {
    thead {
      tr {
        th {
          font-size: 12px;
        }
        .col-3 {
          display: none;
        }
      }
    }
    tbody {
      tr {
        td {
          font-size: 13px;
          font-weight: 600;
        }
        .col-1 img {
          max-width: 38px;
          max-height: 38px;
        }
        .col-3 {
          display: none;
        }
        .col-6 {
          img {
            max-width: 20px;
            max-height: 20px;
            margin: 5px;
            padding: 5px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
