.container {
    background: rgba(218, 160, 109, 0.72);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.card-singIn{

    width: 800px;
    background: #DDA68F;
    margin-left: 25px;
    margin-top: 5%;
    margin-bottom: 5%;

}
.card-one{

    text-align: center;
}
.card-signUp{


    width: 800px;
    background: #222222;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.forgot {
    display: block;
    text-align: center;
    color: white;
}
.text{
    text-align: center;
    color: white;
}
.tittlesSignIn {


    display: block;
    text-align: center;
    color: black;
    margin-top: 30%;
}

.a1{
    margin-top: 30%;



}