.dashboard-container {
    width: 100%;
    background-color: #f3f3f3;

    display: flex;
    justify-content: flex-end;

    main { width: 100% }
}

@media (max-width: 1020px) {
    .dashboard-container {
        .header-container {
            display: none;
        }
    }
}