.finishBuyContainer {
  background-color: #f3f3f3;
}

.finishBuyContainer header {
  padding: 30px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222222;
  color: #e1ab38;
}

.finishBuyContainer header .logo {
  font-size: 50px;
  font-family: Great Vibes;
}

.finishBuyContainer main {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.finishBuyContainer main .col {
  width: 25%;
}

.finishBuyContainer main .AsideFinishBuy {
  margin-bottom: 10%;
  background-color: #d9d9d9;
  width: 100%;
  border-radius: 10px;
}
.finishBuyContainer main .itemsCart ul {
  flex-direction: column;
}

.finishBuyContainer main .AsideFinishBuy h1 {
  background-color: #222222;
  text-align: center;
  font-weight: 600;
  color: #f3f3f3;
}
.finishBuyContainer main .AsideFinishBuy ul {
  width: 100%;
  align-items: center;
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.finishBuyContainer main .AsideFinishBuy ul li {
  width: 100%;
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
}
.finishBuyContainer main .paymentMethod ul li {
  transition: 0.3s all ease-in-out;
  border-radius: 5px;
  border: 0.5px solid black;
  padding-left: 15px;
  padding-right: 55px;
}
.finishBuyContainer main .paymentMethod ul li:hover {
  color: #f3f3f3;
  background-color: #e1ab38;
}

.finishBuyContainer main .AsideFinishBuy ul li input {
  border-radius: 5px;
  width: 80%;
  height: 38px;
  padding-left: 5px;
  border: 0.5px solid black;
}

.finishBuyContainer main .AsideFinishBuy ul button {
  border: 0.5px solid black;
  background-color: #e1ab38;
  border-radius: 5px;
  color: #f3f3f3;
  font-size: 16px;
  padding: 7px;
}
.finishBuyContainer main .AsideFinishBuy ul .iconPaymentMethod {
  height: 60px;
  margin-right: 10px;
}

.finishBuyContainer main .AsideFinishBuy ul img {
  max-height: 56px;
}
.finishBuyContainer main .AsideFinishBuy ul .iconTrash {
  display: none;
}

.finishBuyContainer
  > main
  > div:nth-child(3)
  > section
  > ul
  > tr
  > td.tdCol-1
  > div
  > span.full-price-promo {
  display: none;
}

.finishBuyContainer > main > .col > section > ul > tr > td.tdCol-3 {
  display: none;
}

.finishBuyContainer main .col .itemsCart .info-cart {
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 25%;
  flex-wrap: nowrap;
}

.finishBuyContainer main .col .itemsCart .info-cart .value-buy {
  display: flex;
  flex-direction: column;
}
