.product {
  .product-container {
    box-shadow: -1px 1px 20px 3px rgb(0 0 0 / 20%);
    width: 270px;
    margin: 0px 20px;
    height: 70%;
    padding: 0px 5px;
    border-radius: 2px;

    .product-text {
      background-color: #f2f2f2;
      text-align: start;
      padding-left: 5px;
    }
    .imgProduct {
      width: 200px;
      padding: 10px;
    }

    .container-product-img {
      background-color: #ffffff3f;
      border-bottom: 1px solid #3333;
      text-align: center;
    }

    .productName {
      font-size: 1.1rem;
      height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .productDescription {
      font-size: 1rem;
      height: 30px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 400;
    }

    .productPrice {
      color: green;
      font-size: 20px;
    }

    .priceParceled {
      font-size: 15px;
    }

    .productFrete {
      font-size: 10px;
      color: green;
    }

    .priceComplet {
      color: #222222;
    }

    .product-brand {
      font-size: 10px;
      color: rgba(51, 51, 51, 0.836);
      padding-bottom: 20px;
    }
  }
}

.product-container:hover {
  box-shadow: -1px 1px 20px 3px rgba(80, 80, 80, 0.493);
  transition: all 0.5s ease;
}

@media (max-width: 1120px) {
}
